@media screen and (max-width: 480px)  {
    body {
      background-color: #F3EFE9;
    }

    /*----styling af navigationsbar----*/
     nav{
        display: flex;
        padding: 1% 3%;
        justify-content:space-between ;
        align-items: center ;
    }

    .nav-links {
        flex: 1;
        text-align:center; 
    }   

    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 5px 7px ;
        position: center;
    }

    .nav-links ul li a{
        color:#CA900A;
        text-decoration: none;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .nav-links ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background: #CA900A;
        display: block;
        margin: auto;
        transition: o,1s;
    }
    
    .nav-links ul li:hover::after{
        width: 100%;
    }
     
    /*styling af info sectionen, at teksten skal flexe*/
    .forside{
        text-align: center;
        margin-bottom: 10%;
    }
    
    .info{ 
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .forside h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
    }

    .forside h3{
        font-size: 11px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
   
    .forside p{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }


    /*Start på opgave beskrivelse section*/
    .beskrivelse{
        text-align: center;
    }

    .beskrivelse h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 5%;
    }

    .beskrivelse h2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .beskrivelse p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

/* margin top rykker billedet længere op mod teksten, uden den var afstanden meget stor*/
    .beskrivelse img{
      width: 100%;
      margin-top: -15%;
}


/*start på styling af udvikling section*/
    .udvikling{
        text-align: center;
        margin-top: -10%;
    }

    .udvikling h2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .udvikling p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* margin top rykker billedet længere op mod teksten, uden den var afstanden meget stor*/
    .fotoshop{
        width: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .logo{
        width: 90%;
        margin-top: -10%;
        margin-bottom: -30%;
        margin-left: 5%;
    }

    .room img{
        width: 45%;
    }

    .room{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 3%;
    }

    .se-her{
        display: inline-block;
        text-decoration: none;
        color:#000000;
        border: 3px solid #CA900A;
        background-color: #CA900A;
        padding: 10px 20px;
        font-size: 15px;
        position: relative;
        cursor: pointer;
    }

/*Start af styling for Happy Feet siden*/
    .happyfeet{
        text-align: center;
        margin-bottom: 10%;
    }

    .info{ 
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .happyfeet h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
    }

    .happyfeet h3{
        font-size: 11px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .billeder{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .tlf{
        width: 50%;
        margin-bottom: -2%;
        margin-top: -2%;
    }

    .mac{
        width: 100%;
        margin-bottom: -2%;
        margin-top: -2%;
    }

    .ipad{
      width: 50%;
      margin-bottom: -2%;
      margin-top: -2%;
    }


/*Start på opgave beskrivelse section*/
    .happy-beskrivelse{
        text-align: center;
    }

    .happy-beskrivelse h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 5%;
    }

    .happy-beskrivelse h2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .happy-beskrivelse p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }


/*start på styling af proces section til happy feet*/

.happy-udvikling{
    text-align: center;
}

.happy-udvikling h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.happy-udvikling p{
    font-size: 15px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.webshopen{
    width: 60%;
    margin-bottom: 5px;
}

.webshopto{
    width: 60%;
}

.webshop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer{
    background-color: #2E2D29;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  
  }
  
  .footer a{
    display: inline;
    color: #E0D9B8;
  }
  
  ul{
    list-style-type: none;
    font-size: 17px;
    text-transform: uppercase;
  }
  
  li{
    margin-top: 10px;
  
  }

}

@media screen and (max-width: 2050px) and (min-width:481px) {
    body {
      background-color: #F3EFE9;
      margin: 50px;
    }
     
    /*----styling af navigationsbar----*/
    nav{
        display: flex;
        padding: 1% 3%;
        justify-content:space-between ;
        align-items: center ;
    }

    .nav-links {
        flex: 1;
        text-align:right; 
    }   

    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 5px 7px ;
        position: center;
    }

    .nav-links ul li a{
        color:#CA900A;
        text-decoration: none;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .nav-links ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background: #CA900A;
        display: block;
        margin: auto;
        transition: o,1s;
    }
    
    .nav-links ul li:hover::after{
        width: 100%;
    }
     
    /*styling af info sectionen, at teksten skal flexe*/
    .forside{
        margin-bottom: 10%;
        text-align: center;
    }
    
    .info{ 
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 3%;
    }

    .forside h1{
        font-size: 30px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
    }

    .forside h3{
        font-size: 15px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
   
    .forside p{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        margin: 5%;
        padding: 5%;
        margin-top: -3%;
    }

    .beskrivelse{
        text-align: center;
        margin-top: -12%;
    }

    .beskrivelse h1{
        font-size: 25px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 3%;

    }

    .beskrivelse h2{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .beskrivelse p{
        font-size: 17px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5%;
        padding: 5%;
        margin-top: -5%;
        margin-bottom: -2%;
    }


    .udvikling{
        text-align: center;
        margin-top: -10%;
    }

    /* margin top rykker billedet længere op mod teksten, uden den var afstanden meget stor*/
    .beskrivelse img{
        width: 50%;
        margin-top: -10%;
    }
    
    .udvikling h2{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: -5%;
    }

    .udvikling p{
        font-size: 17px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5%;
        padding: 5%;
        margin-bottom: -2%;
        margin-top: 2%;
    }

    /* margin top rykker billedet længere op mod teksten, uden den var afstanden meget stor*/
    .fotoshop{
        width: 50%;
        
    }

    .logo{
        width: 50%;
        margin-top: -10%;
        margin-bottom: -15%;
        margin-left: 5%;
    }

    .udvikling img{
        width: 40%;
    }

    .room{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 3%;
    }

    .se-her{
        display: inline-block;
        text-decoration: none;
        color:#000000;
        border: 3px solid #CA900A;
        background-color: #CA900A;
        padding: 10px 20px;
        font-size: 15px;
        position: relative;
        cursor: pointer;
        margin-bottom: 2%;
    }


/*Start af styling for Happy Feet siden*/
.happyfeet{
    text-align: center;
    margin-bottom: 10%;
}

.info{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.happyfeet h1{
    font-size: 30px;
    font-family: century;
    color: #CA900A;
    text-transform: uppercase;
}

.happyfeet h3{
    font-size: 15px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.billeder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.tlf{
    width: 250px;
    height: 450px;
    margin-bottom: -15%;
}

.mac{
    width: 750px;
    height: 550px;
    margin-bottom: -15%;
}

.ipad{
  width: 250px;
  height: 450px;
  margin-bottom: -15%;
}


/*Start på opgave beskrivelse section*/
.happy-beskrivelse{
    text-align: center;
}

.happy-beskrivelse h1{
    font-size: 25px;
    font-family: century;
    color: #CA900A;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.happy-beskrivelse h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.happy-beskrivelse p{
    font-size: 17px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
    margin: -3%;
}


/*start på styling af proces section til happy feet*/

.happy-udvikling{
text-align: center;
}

/* - margin er sat for at afstanden mellem overskrift og brødtekst skal være det samme som sectionen overfor*/
.happy-udvikling h2{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: -2%;
}

/*margin sørger for at teksen snøvre sig ind fra begge sider */
.happy-udvikling p{
font-size: 17px;
line-height: 25px;
font-family: Arial, Helvetica, sans-serif;
margin: 5%;
}

.webshopen{
width: 40%;
}

.webshopto{
width: 40%;
}

/* padding bottom er endnu engag sat for at lave noget afstand mellem billederne og teksten nedenunder*/
.webshop{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding-bottom: 3%;
}

.footer{
    background-color: #2E2D29;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    }
    
    .footer a{
    display: inline;
    color: #E0D9B8;
    }
    
    .footer ul{
    list-style-type: none;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    
    li{
    margin-top: 10px;
    }

}


