/*Mobile first*/
@media screen and (max-width: 480px)  {
    body {
      background-color: #F3EFE9;
    }
    
    /*Til styling af navigationsbar der brugt hjælp fra en video på youtube https://www.youtube.com/watch?v=oYRda7UtuhA*/
    /*----styling af navigationsbar----*/
    nav{
        display: flex;
        padding: 1% 3%;
        justify-content:space-between ;
        align-items: center ;
    }

    .nav-links {
        flex: 1;
        text-align:center; 
    }   

    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 5px 7px ;
        position: center;
    }

    .nav-links ul li a{
        color:#CA900A;
        text-decoration: none;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .nav-links ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background: #CA900A;
        display: block;
        margin: auto;
        transition: o,1s;
    }
    
    .nav-links ul li:hover::after{
        width: 100%;
    }

    /*Start på styling af Hotel Alien side*/

    /*styling af hele forside section, alt indholdet skal stå i midten og dens afstand mellem næste section skal være 10%*/
    .forside{
        text-align: center;
        margin-bottom: 10%;
    }

    /*Styling af overskrift Hotel Alien*/
    .forside h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
    }
    
    /*Styling af tekst med årgang, service og kunde, hvordan de skal placeres og flexe*/
    .info{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /*Styling på selve teksten med årgang, sevice og kunde, alt fra hvilke skrift str, til font family*/
    .forside h3{
        font-size: 12px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
   
    /*Styling af den korte tekst om at hotel alien har vundet pris*/
    .forside p{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }

    /*Start på opgave beskrivelse section og at hele section skal stå i midten*/
    .beskrivelse{
        text-align: center;
    }

    /*Styling af overskriften hvor der står "processen"*/
    .beskrivelse h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 5%;
    }

    /*Styling af under overskrifterne*/
    .beskrivelse h2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*Styling på brødteksten*/
    .beskrivelse p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* margin top rykker billedet længere op mod teksten, uden den var afstanden meget stor*/
    .beskrivelse img{
      width: 100%;
      margin-top: -15%;
    }   


    /*start på styling af udvikling section margin top -10% så sectionen kommer tættere på den forrige section*/
    .udvikling{
        text-align: center;
        margin-top: -10%;
    }

    .udvikling h2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .udvikling p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* margin top rykker photoshop billedet længere op mod teksten, så der ikke er meget afstand*/
    .fotoshop{
        width: 75%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /*Styling af Hotel Alien logo, margin left så den står i midten af siden, og margin top/ margin bottom så billedet ikke er langt fra teksterne.*/
    .logo{
        width: 90%;
        margin-top: -10%;
        margin-bottom: -30%;
        margin-left: 5%;
    }

    /* Styling af billederne fra side jeg har kodet i hotel Alien*/
    .room img{
        width: 45%;
    }

    /*Sørger for at billederne står ved siden af hianden ved hjælp af flex*/
    .room{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 5%;
    }

    /*display - Inline-block= Knappen er på sin egen linje og ikke på billederne. - Text decoration fjerner stregen fra se her.*/
    .se-her{
        display: inline-block;
        text-decoration: none;
        color:#000000;
        background-color: #CA900A;
        padding: 12px 20px;
        font-size: 15px;
        position: relative;
        margin-bottom: 5%;
    }
    /*Margin bottom står for afstanden mellem footer og klik button*/



    /*Start af styling for Happy Feet siden*/
    .happyfeet{
        text-align: center;
        margin-bottom: 10%;
    }

    .happyfeet h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
    }

    .happyfeet h3{
        font-size: 12px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }


    /*Start på opgave beskrivelse section*/
    .happy-beskrivelse{
        text-align: center;
    }

    /*margin bottom så teksten under kommer tættere på overskriften*/
    .happy-beskrivelse h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 5%;
        margin-top: -3%;
    }

    .happy-beskrivelse h2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .happy-beskrivelse p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*sørger for at billederne flexer*/
    .billeder{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /*Styling på billederne af tlf, ipad og mac, de har alle margin top og bottom så afstanden mellem dem er det samme*/
    .tlf{
        width: 50%;
        margin-bottom: -2%;
        margin-top: -2%;
    }

    .mac{
        width: 100%;
        margin-bottom: -2%;
        margin-top: -2%;
    }

    .ipad{
      width: 50%;
      margin-bottom: -2%;
      margin-top: -2%;
    }

    /*start på styling af proces section til happy feet*/

    /*Sørger for alt styling i denne section er i center*/
    .happy-udvikling{
        text-align: center;
    }

    .happy-udvikling h2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .happy-udvikling p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*Havde to billeder af den side jeg havde kodet, derfor blev billederne kaldt en og to.*/
    .webshopen{
        width: 60%;
        margin-bottom: 5px;
    }

    .webshopto{
        width: 60%;
    }

    /*gør at billederne flexer og kan stå ved siden af hinanden*/
    .webshop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    


    /*Start på styling af video side*/
     .video{
        text-align: center;
        margin-bottom: 10%;
    }

    .video h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
    }

    .video h3{
        font-size: 12px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .youtube{
        width: 300px;
        height: 180px;
    }


/*Start på opgave beskrivelse section*/
    .video-beskrivelse{
        text-align: center;
    }

    .video-beskrivelse h1{
        font-size: 20px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 5%;
        margin-top: -3%;
    }

    .video-beskrivelse h2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .video-beskrivelse p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .videoimg{
        width: 100%;
        margin-top: -5%;
        margin-bottom: -5%;
    }

   
    /*start på styling af proces section til happy feet*/
    .video-udvikling{
        text-align: center;
    }

    .video-udvikling h2{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .video-udvikling p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

   /*Start på styling at kontakt side*/

  /*Styling af kontakt section*/
  .kontaktmig{
        text-align: center;
    }

    .kontaktmig h1{
        font-size: 20px;
        color: #CA900A;
        text-transform: uppercase;
        font-family: century;
    }

    .kontaktmig p{
        font-size: 12px;
        font-family: century;
        margin: 3%;
    }

    .kontakt{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .kontakt-box{
        width: 300px;
        text-align: center;
        border: 2px solid #CA900A;
        margin-bottom: 5%;
    }

    .kontakt h1{
        width: 100%;
        font-size: 30px;
        font-family: century;
        text-align: center;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 3%;
    }

    /*Sørger for breden i selve kassen så felterne står lige under hinanden og ikke er forsukt fra hinanden i kassen*/
    .form{
        margin: 35px;
    }

    /*styling på felterne i kontakt kassen*/
    .skriv{
        width: 250px;
        height: 40px;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #CA900A;
        border-radius: 10px;
        outline: none;
    }

    /*styling for feltet hvor man kan skrive sin besked*/
    .skrivher{
        height: 150px;
        padding-top: 10px;
    }

    /*styling på se besked knappen. border radius er hvor rund kassen skal være*/ 
    .knap{
        border-radius: 10px;
        color: #CA900A;
        margin-top: 18px;
        padding: 10px;
        font-size: 15px;
        border: 1px solid #CA900A;
        margin-bottom: 2%;
        cursor: pointer;
    }

    /*styling af footer*/
    footer{
        background-color: #2E2D29;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
  
    .footer a{
        display: inline;
        color: #E0D9B8;
    }
  
    ul{
        list-style-type: none;
        font-size: 12px;
        text-transform: uppercase;
    }
  
    li{
        margin-top: 10px;
    }

}

/*Start på styling af hotel Alien på desktop version*/
@media screen and (max-width: 2050px) and (min-width:481px){
    body {
      background-color: #F3EFE9;
    }

    /*Til styling af navigationsbar der brugt hjælp fra en video på youtube https://www.youtube.com/watch?v=oYRda7UtuhA*/
    /*----styling af navigationsbar----*/
    nav{
        display: flex;
        padding: 1% 3%;
        justify-content:space-between ;
        align-items: center ;
    }

    .nav-links {
        flex: 1;
        text-align:right; 
    }   

    .nav-links ul li{
        display: inline-block;
        padding: 5px 7px ;
        position: center;
    }

    .nav-links ul li a{
        color:#CA900A;
        text-decoration: none;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .nav-links ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background: #CA900A;
        display: block;
        margin: auto;
        transition: o,1s;
    }
    
    .nav-links ul li:hover::after{
        width: 100%;
    }

   
    /*styling af info sectionen med årgang, kunde og service, at teksten skal flexe*/
    .forside{
        margin-bottom: 10%;
        text-align: center;
    }
    
    /*Styling af tekst med årgang, kunde og service - Sørger for at de står på samme linje ved at bruge flex*/
    .info{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 3%;
    }

    /*Styling af Hotel Alien overskrift*/
    .forside h1{
        font-size: 30px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
    }

    /*Styling af information teksten om årgang, servise og kunde*/
    .forside h3{
        font-size: 15px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
   
    /*Styling af kort infotekst af hotel Alien - Margin top får teksten længe op mod h3*/
    .forside p{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        margin: 5%;
        padding: 5%;
        margin-top: -3%;
    }

    /*Start på ny section om opgave beskrivelse*/
    .beskrivelse{
        text-align: center;
        margin-top: -10%;
    }

    /*Styling af overskriften "Processen" margin bottom er endnu engang afstand mellem overskriften og teksten nedenunder*/
    .beskrivelse h1{
        font-size: 25px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 3%;
    }

    /*Styling af underoverskrifterne*/
    .beskrivelse h2{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*Styling af brødteksten margin og padding indsnævre teksten og margin top og bottom er afstanden mellem overskrifterne og brødteksten*/
    .beskrivelse p{
        font-size: 17px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5%;
        padding: 5%;
        margin-top: -5%;
        margin-bottom: -2%;
    }

    /*Start på styling er ny section med processen - margin top endnu engang så teksten komme tættere på teksten overfor*/
    .udvikling{
        text-align: center;
        margin-top: -10%;
    }

    /* margin top rykker billedet længere op mod teksten, uden den var afstanden meget stor*/
    .beskrivelse img{
        width: 50%;
        margin-top: -10%;
    }
    
    /*Styling af under overskrifterne*/
    .udvikling h2{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: -5%;
    }

    /*Styling af brødtekst*/
    .udvikling p{
        font-size: 17px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5%;
        padding: 5%;
        margin-bottom: -2%;
        margin-top: 2%;
    }

    /* margin top rykker billedet længere op mod teksten, uden den var afstanden meget stor*/
    .fotoshop{
        width: 50%; 
    }

    /*Styling af Hotel Alien logo - margin top og bottom endnu engang så teksterne ikke er langt fra logoet*/
    .logo{
        width: 50%;
        margin-top: -10%;
        margin-bottom: -15%;
        margin-left: 5%;
    }

    /*styling på størrelse af billederne fra den side jeg har kodet - billeder af room siden*/
    .udvikling img{
        width: 40%;
    }

    /*Styling af deres placering, flex så de står ved siden af hinanden. - Padding bootom så knappen nedne under er med lidt afstand*/
    .room{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 3%;
    }

    /*Styling af knap som viser hotel alien hjemmesiden. padding selv knappens højde og bredde. margin bottom så der er afstand mellem knap og footer. 
    Text decoration er non så teksten i knappen ikke ligner et link med en streg under. Display så knappen er på sin egen linje og ikke overlapper de andre ting*/
    .se-her{
        display: inline-block;
        text-decoration: none;
        color:#000000;
        background-color: #CA900A;
        padding: 10px 20px;
        font-size: 15px;
        margin-bottom: 2%;
    }


    /*Start af styling for Happy Feet siden*/

    /*Styling af overskriften "Happy Feet*/
    .happyfeet h1{
        text-align: center;
        font-size: 30px;
        font-family: century;
        text-transform: uppercase;
        color:#CA900A;
    }

    /*Stylingen af de 3 tekstbox under billedet - Årgang, service og kunde teksten.*/
    .info{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /*Start på opgave beskrivelse section*/
    .happy-beskrivelse{
        text-align: center;
    }

    .happy-beskrivelse h1{
        font-size: 25px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 3%;
    }

    .happy-beskrivelse h2{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: -2%;
    }

    .happy-beskrivelse p{
        font-size: 17px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5%;
        margin: -3%;
    }

    /*styling af billederne i beskrivelse section*/
    .billeder{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
        margin-bottom: 7%;
    }

    /*Uden margin top, stod billederne ikke samme sted på rækken, margin top er derfor sat så billederne er på en lige række*/
    .tlf{
        width: 200px;
        height: 350px;
        margin-bottom: -15%;
        margin-top: 4%;
    }

    .mac{
        width: 850px;
        height: 650px;
        margin-bottom: -15%;
        margin-top: -5%;
    }

    .ipad{
        width: 200px;
        height: 350px;
        margin-bottom: -15%;
        margin-top: 4%;
    }

    /*start på styling af proces section til happy feet*/
    .happy-udvikling{
        text-align: center;
    }

    /* - margin er sat for at afstanden mellem overskrift og brødtekst skal være det samme som sectionen overfor*/
    .happy-udvikling h2{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: -3%;
    }

    /*margin sørger for at teksen snøvre sig ind fra begge sider */
    .happy-udvikling p{
        font-size: 17px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5%;
        margin-bottom: 3%;
    }

    /* Her har jeg sat to billeder at den side jeg fik kodet, derfor er de kaldt en og to - som står for billede 1 og billede 2*/
    .webshopen{
        width: 40%;
    }

    .webshopto{
        width: 40%;
    }

    /* padding bottom er endnu engag sat for at lave noget afstand mellem billederne og teksten nedenunder*/
    .webshop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 3%;
    }

    /*Start på styling af video side*/
    .video{
        text-align: center;
        margin-bottom: 10%;
    }

    .video h1{
        font-size: 30px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
    }

    .video h3{
        font-size: 15px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .youtube{
        width: 750px;
        height: 400px;
        margin-bottom: -4%;
    }


    /*Start på opgave beskrivelse section*/
    .video-beskrivelse{
        text-align: center;
    }

    .video-beskrivelse h1{
        font-size: 25px;
        font-family: century;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 3%;
        margin-top: -3%;
    }

    .video-beskrivelse h2{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .video-beskrivelse p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .videoimg{
        width: 50%;
        margin-top: -5%;
        margin-bottom: -5%;
    }

   
    /*start på styling af proces section til happy feet*/
    .video-udvikling{
        text-align: center;
    }

    .video-udvikling h2{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .video-udvikling p{
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*Start på styling at kontakt side*/

    /*Styling af kontakt section*/
    .kontaktmig{
        text-align: center;
    }

    .kontaktmig h1{
        font-size: 35px;
        color: #CA900A;
        text-transform: uppercase;
        font-family: century;
    }

    .kontaktmig p{
        font-size: 18px;
        font-family: century;
        margin: 3%;
    }

    .kontakt{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
   
    .kontakt-box{
        width: 750px;
        text-align: center;
        border: 2px solid #CA900A;
        margin-bottom: 5%;
    }
    
    .kontakt h1{
        width: 100%;
        font-size: 30px;
        font-family: century;
        text-align: center;
        color: #CA900A;
        text-transform: uppercase;
        margin-bottom: 3%;
    }

    /*Sørger for breden i selve kassen så felterne står lige under hinanden og ikke er forsukt fra hinanden i kassen*/
    .form{
        margin: 35px;
    }

    /*styling på felterne i kontakt kassen*/
    .skriv{
        width: 650px;
        height: 40px;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #CA900A;
        border-radius: 10px;
        outline: none;
    }

    /*styling for feltet hvor man kan skrive sin besked*/
    .skrivher{
        height: 150px;
        padding-top: 10px;
    }

    /*styling på se besked knappen. border radius er hvor rund kassen skal være*/ 
    .knap{
        border-radius: 10px;
        color: #CA900A;
        margin-top: 18px;
        padding: 10px;
        font-size: 15px;
        border: 1px solid #CA900A;
        margin-bottom: 2%;
        cursor: pointer;
    }

    /*Styling af footer*/
    .footer{
        background-color: #2E2D29;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .footer a{
        display: inline;
        color: #E0D9B8;
    }
    
    .footer ul{
        list-style-type: none;
        font-size: 15px;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    li{
        margin-top: 10px;
    }

}



